{% extends "main.html" %}
{% block content %}
<div class="row" style="margin-top: 100px; height: fit-content; margin-bottom: 0px;">
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">

    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Data Source</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Pipe</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Filter</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Pipe</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Filter</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Pipe</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Filter</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Pipe</b>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <b>Data Sink</b>
    </div>
    <div class="col-3" style="display: flex; align-items: center; justify-content: center;">

    </div>
</div>
{% for i in input %}
<div class="row" style="margin-top: 0px; height: 100px; height: fit-content;">
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">

    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="circle">
        <p style="text-align: center;">{{ i }}</p>
      </div>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <img src="static\arrow-right.png" style=" height: 12vh; height: 12vh; float: left;" alt="Pfeil">
    </div>
    {% if error[loop.index - 1] != -1 %}
    {% if 0 in error[loop.index - 1] %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box_error">
        {{ filter[0] }}
      </div>
    </div>
    {% else %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box">
        {{ filter[0] }}
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box">
        {{ filter[0] }}
      </div>
    </div>
    {% endif %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <img class="parent" src="static\arrow-right.png" style="height: 12vh; height: 12vh; float: left; margin-top: 20px;" alt="Pfeil">
      <p class="child" style="text-align: center;">{{ interim[loop.index - 1][0] }}</p>
    </div>
    {% if error[loop.index - 1] != -1 %}
    {% if 1 in error[loop.index - 1] %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box_error">
        {{ filter[1] }}
      </div>
    </div>
    {% else %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box">
        {{ filter[1] }}
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box">
        {{ filter[1] }}
      </div>
    </div>
    {% endif %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <img class="parent" src="static\arrow-right.png" style="height: 12vh; height: 12vh; float: left; margin-top: 20px;" alt="Pfeil">
      <p class="child" style="text-align: center;">{{ interim[loop.index - 1][1] }}</p>
    </div>
    {% if error[loop.index - 1] != -1 %}
    {% if 2 in error[loop.index - 1] %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box_error">
        {{ filter[2] }}
      </div>
    </div>
    {% else %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box">
        {{ filter[2] }}
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="box">
        {{ filter[2] }}
      </div>
    </div>
    {% endif %}
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <img class="parent" src="static\arrow-right.png" style="height: 12vh; height: 12vh; float: left; margin-top: 20px;" alt="Pfeil">
      <p class="child" style="text-align: center;">{{ interim[loop.index - 1][2] }}</p>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      <div id="circle">
        <p>{{ sink[loop.index - 1] }}</p>
      </div>
    </div>
    <div class="col-3" style="display: flex; align-items: center; justify-content: center;">

    </div>
</div>
{% endfor %}
{% endblock %}